/* background image */
html, body {
  padding-top: 40px; 
  height: 100%;
}
body {
  background-image: url("/images/page-bg.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Polaroid photo box */
.photo-box{
	width: 420px;
	font-family: Comic Sans MS, Monotype Corsiva;
	color: #000000;
	border:1px solid #9DAFC6;
	padding:5px;
	background-color:#FFF;
	text-align : center;
}

th, td{
	padding: 5px;
}
