html, body {
    padding-top: 30px; 
    height: 100%;
}

/* Polaroid photo box */
.photo-box{
	width: 420px;
	font-family: Comic Sans MS, Monotype Corsiva;
	color: #000000;
	border:1px solid #9DAFC6;
	padding:5px;
	background-color:#FFF;
	text-align : center;
}
